*{
    font-family:monospace;
}
        /************************************ Navbar Start ************************************/
.nav{
    position: relative;
    background-color: white;
    width: 1349px;
    height: 120px;
    margin-top: -8px;
    margin-left: -8px;
    box-shadow: 0px 4px 8px -4px silver;
}

.img1{
    position: absolute;
    width: 120px;
    top: 30px;
    left: 30px;
}

.nav1{
    position: absolute;
    top: 45px;
    left: 350px;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block;
}
.nav1::after{
    content: '';
    width: 0px;
    height: 3px;
    margin-top: 7px;
    display: block;
    background-color: #84ca3d;
    transition: 300ms;
}
.nav1:hover::after{
    cursor: pointer;
    width: 100%;
    color: #84ca3d;
}
.nav1:hover{
    color: #84ca3d;
}

.nav2{
    position: absolute;
    top: 45px;
    left: 420px;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block;
}
.nav2::after{
    content: '';
    width: 0px;
    height: 3px;
    margin-top: 7px;
    display: block;
    background-color: #84ca3d;
    transition: 300ms;
}
.nav2:hover::after{
    cursor: pointer;
    width: 100%;
    color: #84ca3d;
}
.nav2:hover{
    color: #84ca3d;
}

.nav3{
    position: absolute;
    top: 45px;
    left: 520px;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block;
}
.nav3::after{
    content: '';
    width: 0px;
    height: 3px;
    margin-top: 7px;
    display: block;
    background-color: #84ca3d;
    transition: 300ms;
}
.nav3:hover::after{
    cursor: pointer;
    width: 100%;
    color: #84ca3d;
}
.nav3:hover{
    color: #84ca3d;
}

.nav4{
    position: absolute;
    top: 45px;
    left: 620px;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block;
}
.nav4::after{
    content: '';
    width: 0px;
    height: 3px;
    margin-top: 7px;
    display: block;
    background-color: #84ca3d;
    transition: 300ms;
}
.nav4:hover::after{
    cursor: pointer;
    width: 100%;
    color: #84ca3d;
}
.nav4:hover{
    color: #84ca3d;
}

.nav5{
    position: absolute;
    top: 45px;
    left: 690px;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block;
}
.nav5::after{
    content: '';
    width: 0px;
    height: 3px;
    margin-top: 7px;
    display: block;
    background-color: #84ca3d;
    transition: 300ms;
}
.nav5:hover::after{
    cursor: pointer;
    width: 100%;
    color: #84ca3d;
}
.nav5:hover{
    color: #84ca3d;
}

.nav6{
    position: absolute;
    top: 45px;
    left: 798px;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block;
}
.nav6::after{
    content: '';
    width: 0px;
    height: 3px;
    margin-top: 7px;
    display: block;
    background-color: #84ca3d;
    transition: 300ms;
}
.nav6:hover::after{
    cursor: pointer;
    width: 100%;
    color: #84ca3d;
}
.nav6:hover{
    color: #84ca3d;
}

.nav7{
    position: absolute;
    top: 18px;
    left: 920px;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border: 2px solid #84ca3d;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 15px;
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #84ca3d 50%, black 50%)right;
    background-size: 200%;
    transition: .5s ease-in-out;
}
.nav7:hover{
    cursor: pointer;
    background-position: left;
    border: 2px solid black;
}

.img2{
    position: absolute;
    right: 225px;
    width: 18px;
    top: 45px;
}
.img2:hover{
    cursor: pointer;
    opacity: 0.5;
}

.img3{
    position: absolute;
    right: 185px;
    width: 20px;
    top: 45px;
}
.img3:hover{
    cursor: pointer;
    opacity: 0.5;
}

.img4{
    position: absolute;
    right: 130px;
    width: 40px;
    top: 40px;
}
.img4:hover{
    cursor: pointer;
    opacity: 0.5;
}

.img5{
    position: absolute;
    right: 85px;
    width: 40px;
    top: 35px;
}
.img5:hover{
    cursor: pointer;
    opacity: 0.5;
}

.img6{
    position: absolute;
    right: 50px;
    width: 18px;
    top: 48px;
}
.img6:hover{
    cursor: pointer;
    opacity: 0.5;
}

    /************************************ Navbar End ************************************/






    /************************************ Services Body Part Start ************************************/




.servicesbody1{
        position: relative;
        background-color: #fffbfb;
        width: 1340px;
        margin-top: 5px;
        height: 4900px;
        left: 0px;
}
                
.text1{
        position: absolute;
        color: #84ca3d;
        font-size: 18px;
        top: 80px;
        left: 580px;
}
                
.text2{
        position: absolute;
        color: black;
        font-size: 45px;
        top: 100px;
        left: 485px;
}
                
.text3{
        position: absolute;
        color: black;
        font-size: 15px;
        top: 190px;
        left: 350px;
        text-align: center;
}








.img7{
    position: absolute;
    top: 340px;
    width: 500px;
    right:  50px;
}

.h1text4{
    position: absolute;
    top: 330px;
    left: 110px;
    font-size: 50px;
    color: #84ca3d;
}

.h1text5{
    position: absolute;
    top: 420px;
    left: 110px;
    font-size: 35px;
}

.ptext6{
    position: absolute;
    top: 500px;
    left: 110px;
    font-size: 15px;
    line-height: 2;
}

.ptext7{
    position: absolute;
    top: 740px;
    left: 110px;
    font-size: 15px;
    line-height: 2;
}

.picon1{
    position: absolute;
    width: 60px;
    height: 4px;
    top: 910px;
    left: 110px;
    border-radius: 20px;
    background-color: #84ca3d;
}

















.img8{
    position: absolute;
    top: 1000px;
    width: 500px;
    left:  100px;
}

.h1text8{
    position: absolute;
    top: 950px;
    left: 685px;
    font-size: 50px;
    color: #84ca3d;
}

.h1text9{
    position: absolute;
    top: 1040px;
    left: 685px;
    font-size: 35px;
}

.ptext10{
    position: absolute;
    top: 1120px;
    left: 685px;
    font-size: 15px;
    line-height: 2;
}

.ptext11{
    position: absolute;
    top: 1330px;
    left: 685px;
    font-size: 15px;
    line-height: 2;
}

.picon2{
    position: absolute;
    width: 60px;
    height: 4px;
    top: 1530px;
    left: 685px;
    border-radius: 20px;
    background-color: #84ca3d;
}








.img9{
    position: absolute;
    top: 1590px;
    width: 500px;
    right:  80px;
}

.h1text12{
    position: absolute;
    top: 1580px;
    left: 110px;
    font-size: 50px;
    color: #84ca3d;
}

.h1text13{
    position: absolute;
    top: 1670px;
    left: 110px;
    font-size: 35px;
}

.ptext14{
    position: absolute;
    top: 1750px;
    left: 110px;
    font-size: 15px;
    line-height: 2;
}

.ptext15{
    position: absolute;
    top: 2010px;
    left: 110px;
    font-size: 15px;
    line-height: 2;
}

.picon3{
    position: absolute;
    width: 60px;
    height: 4px;
    top: 2210px;
    left: 110px;
    border-radius: 20px;
    background-color: #84ca3d;
}












.img10{
    position: absolute;
    top: 2250px;
    width: 500px;
    left:  100px;
}

.h1text16{
    position: absolute;
    top: 2250px;
    left: 685px;
    font-size: 50px;
    color: #84ca3d;
}

.h1text17{
    position: absolute;
    top: 2340px;
    left: 685px;
    font-size: 35px;
}

.ptext18{
    position: absolute;
    top: 2420px;
    left: 685px;
    font-size: 15px;
    line-height: 2;
}

.ptext19{
    position: absolute;
    top: 2590px;
    left: 685px;
    font-size: 15px;
    line-height: 2;
}

.picon4{
    position: absolute;
    width: 60px;
    height: 4px;
    top: 2825px;
    left: 685px;
    border-radius: 20px;
    background-color: #84ca3d;
}











.img11{
    position: absolute;
    top: 2850px;
    width: 500px;
    right:  80px;
}

.h1text20{
    position: absolute;
    top: 2850px;
    left: 110px;
    font-size: 50px;
    color: #84ca3d;
}

.h1text21{
    position: absolute;
    top: 2935px;
    left: 110px;
    font-size: 35px;
}

.ptext22{
    position: absolute;
    top: 3010px;
    left: 110px;
    font-size: 15px;
    line-height: 2;
}

.ptext23{
    position: absolute;
    top: 3180px;
    left: 110px;
    font-size: 15px;
    line-height: 2;
}

.picon5{
    position: absolute;
    width: 60px;
    height: 4px;
    top:  3385px;
    left: 110px;
    border-radius: 20px;
    background-color: #84ca3d;
}















.img12{
    position: absolute;
    top: 3430px;
    width: 500px;
    left:  100px;
}

.h1text24{
    position: absolute;
    top: 3430px;
    left: 685px;
    font-size: 50px;
    color: #84ca3d;
}

.h1text25{
    position: absolute;
    top: 3520px;
    left: 685px;
    font-size: 35px;
}

.ptext26{
    position: absolute;
    top: 3600px;
    left: 685px;
    font-size: 15px;
    line-height: 2;
}

.ptext27{
    position: absolute;
    top: 3835px;
    left: 685px;
    font-size: 15px;
    line-height: 2;
}

.picon6{
    position: absolute;
    width: 60px;
    height: 4px;
    top: 4005px;
    left: 685px;
    border-radius: 20px;
    background-color: #84ca3d;
}



.box1{
    position: relative;
    background-color: #84ca3d;
    width: 1349px;
    height: 200px;
    left: -8px;
    top: 4100px;
}

.boxtext1{
    position: absolute;
    color: white;
    font-size: 70px;
    left: 115px;
    top: -20px;
}

.boxtext2{
    position: absolute;
    color: white;
    font-size: 20px;
    left: 135px;
    top: 80px;
}


.boxtext3{
    position: absolute;
    color: white;
    font-size: 70px;
    left: 515px;
    top: -20px;
}

.boxtext4{
    position: absolute;
    color: white;
    font-size: 20px;
    left: 515px;
    top: 80px;
}


.boxtext5{
    position: absolute;
    color: white;
    font-size: 70px;
    left: 800px;
    top: -20px;
}

.boxtext6{
    position: absolute;
    color: white;
    font-size: 20px;
    left: 790px;
    top: 80px;
}


.boxtext7{
    position: absolute;
    color: white;
    font-size: 70px;
    left: 1090px;
    top: -20px;
}

.boxtext8{
    position: absolute;
    color: white;
    font-size: 20px;
    left: 1010px;
    top: 80px;
}











.about{
    position: relative;
}

.img13{
    position: absolute;
    top: 4150px;
    left: 130px;
}

.abouttext1{
    position: absolute;
    color: #84ca3d;
    font-size: 18px;
    top: 4180px;
    left: 700px;
}

.abouttext2{
    position: absolute;
    font-size: 40px;
    top: 4215px;
    left: 700px;
}

.abouttext3{
    position: absolute;
    top: 4300px;
    left: 700px;
    line-height: 2;
    text-align: justify;
    margin-right: 130px;
}


.button1{
    position: absolute;
    border: 2px solid #84ca3d;
    background-color: #84ca3d;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 30px;
    text-align: right;
    top: 4550px;
    left: 700px;
    color: white;
    font-weight: bold;
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #84ca3d 50%, black 50%)right;
    background-size: 200%;
    transition: .5s ease-in-out;
}
.button1:hover{
    cursor: pointer;
    background-position: left;
}


.btnimg7{
    position: absolute;
    width: 25px;
    left: 5px;
    top: 5px;
}
















 /************************************ Footer Part Start ************************************/

 .footertext1{
    position: relative;
    background-color: #84ca3d;
    width: 1349px;
    height: 75px;   
    top: 0px;
    margin-left: -8px;
    margin-bottom: 50px;
}

.footerh1{
    position: absolute;
    top: 10px;
    left: 350px;
    color: white;
}


.footertext2{
    position: relative;
}

.logo1{
    position: absolute;
    width: 250px;
    top: 0px;
    left: 550px;
    padding-bottom: 50px;   
}

.logo2{
    position: absolute;
    width: 15px;
    top: 180px;
    left: 530px;
    background-color: #84ca3d;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.logo2:hover{
    cursor: pointer;
    background-color: black;
    transition: .5s ease;
}


.logo3{
    position: absolute;
    width: 15px;
    top: 180px;
    left: 590px;
    background-color: #84ca3d;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.logo3:hover{
    cursor: pointer;
    background-color: black;
    transition: .5s ease;
}


.logo4{
    position: absolute;
    width: 20px;
    top: 180px;
    left: 650px;
    background-color: #84ca3d;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.logo4:hover{
    cursor: pointer;
    background-color: black;
    transition: .5s ease;
}


.logo5{
    position: absolute;
    width: 15px;
    top: 180px;
    left: 715px;
    background-color: #84ca3d;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.logo5:hover{
    cursor: pointer;
    background-color: black;
    transition: .5s ease;
}


.logo6{
    position: absolute;
    width: 15px;
    top: 180px;
    left: 775px;
    background-color: #84ca3d;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.logo6:hover{
    cursor: pointer;
    background-color: black;
    transition: .5s ease;
}

.footertext3{
    position: relative;
    background-color: black;
    width: 1349px;
    height: 75px;   
    margin-top: 300px;
    margin-bottom: -8px;
    margin-left: -8px;
}

.footerh2{
    position: absolute;
    color: #84ca3d;
    font-size: 15px;
    top: 13px;
    left: 350px;
}


 /************************************ Footer Part End ************************************/
